{% extends 'User/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'User/css/login.css' %}?{% now "U" %}'>
{% endblock css %}
{% block content %}
<div id="bg"></div>

<form method="post">
  {% csrf_token %}
        <div class="form-field">
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username" placeholder="Email / Username" required/>
        </div>
        
        <div class="form-field">
        <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password" placeholder="Password" required/>                         </div>
        
        <div class="form-field">
        <button class="btn" type="submit">Log in</button>
        </div>
        <div class="form-field justify-content-center">
                <a href="{% url 'register' %}" style="color: white;">Not a User? Register</a>
        </div>


</form>
        <!-- <form method="POST">
                {% csrf_token %}
                <div id="div_id_username" class="form-group">
                        
                </div> 
                <br>
                <div id="div_id_password" class="form-group"> 
                        <label for="id_password" class="requiredField down">
                                Password<span class="asteriskField">*</span> 
                        </label> 
                        <div class=""> 
                                <input > 
                        </div> 
                </div>
                <br>
        </form>  -->

{% endblock %}